In [19]:
# Base para o código:

## Leitura de arquivos e interpertação de dados:
import numpy as np 
import pandas as pd

## Importação e preparação dos arquivos
covid_19 = pd.read_csv(r"\Users\Cauan\Documents\UFV\NIAS-IA-treinamento-2024-2\Cauan\Pandas\COVID-19 Dataset\covid_19_clean_complete.csv")
worldmeter = pd.read_csv(r"\Users\Cauan\Documents\UFV\NIAS-IA-treinamento-2024-2\Cauan\Pandas\COVID-19 Dataset\worldometer_data.csv")

print('Setup completo :)')

Setup completo :)

# 4.1 - Explorando o "COVID-19 Dataset"

### 1. O primeiro passo da exploração de dados é obter informações gerais, deve-se importar o arquivo “covid_19_clean_complete.csv” e obter as seguintes informações.

In [20]:
# a. Quantidade de linhas e colunas;

print('O dataset possui ',covid_19.shape[0],' linhas e ', covid_19.shape[1],' colunas')

O dataset possui  49068  linhas e  10  colunas

In [21]:
# b. Quais são as colunas;

print('As colunas do dataset são: ', list(covid_19.columns))

As colunas do dataset são:  ['Province/State', 'Country/Region', 'Lat', 'Long', 'Date', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'WHO Region']

In [22]:
# c. O tipo de dado de cada coluna;

covid_19.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
Date               object
Confirmed           int64
Deaths              int64
Recovered           int64
Active              int64
WHO Region         object
dtype: object

In [23]:
# d. A coluna de datas deve ser transformada de “Object” para “datetime64”, utilizando o comando “pd.todatetime( )” ;

covid_19['Date']=pd.to_datetime(covid_19['Date'])

covid_19['Date'].dtype

dtype('<M8[ns]')

In [24]:
# e. Informações estatísticas sobre o banco de dados;

covid_19.describe()

,Lat,Long,Date,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,49068,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,2020-04-24 12:00:00,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
min,-51.796300,-135.000000,2020-01-22 00:00:00,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,2020-03-08 18:00:00,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,2020-04-24 12:00:00,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,2020-06-10 06:00:00,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,2020-07-27 00:00:00,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06
std,24.950320,70.442740,NaN,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04

In [25]:
# f. Se necessário, transformar uma coluna pertinente para formato de data;

# Não há necessidade

In [26]:
# g. Quais colunas apresentam NaN.

covid_19.isnull().sum()

Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

### 2. Crie um dataframe que contenha apenas as 5 províncias da China que mais registraram casos.

In [27]:
# a. Descubra qual o nome das províncias chinesas contidas no dataset ;

c_provinces = covid_19.loc[covid_19['Country/Region'] == 'China']

c_provinces.groupby('Province/State')['Country/Region'].max()

Province/State
Anhui             China
Beijing           China
Chongqing         China
Fujian            China
Gansu             China
Guangdong         China
Guangxi           China
Guizhou           China
Hainan            China
Hebei             China
Heilongjiang      China
Henan             China
Hong Kong         China
Hubei             China
Hunan             China
Inner Mongolia    China
Jiangsu           China
Jiangxi           China
Jilin             China
Liaoning          China
Macau             China
Ningxia           China
Qinghai           China
Shaanxi           China
Shandong          China
Shanghai          China
Shanxi            China
Sichuan           China
Tianjin           China
Tibet             China
Xinjiang          China
Yunnan            China
Zhejiang          China
Name: Country/Region, dtype: object

In [28]:
# b. Retire do banco de dados apenas as informações dessas províncias;

c_provinces

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
48,Anhui,China,31.8257,117.2264,2020-01-22,1,0,0,1,Western Pacific
49,Beijing,China,40.1824,116.4142,2020-01-22,14,0,0,14,Western Pacific
50,Chongqing,China,30.0572,107.8740,2020-01-22,6,0,0,6,Western Pacific
51,Fujian,China,26.0789,117.9874,2020-01-22,1,0,0,1,Western Pacific
52,Gansu,China,35.7518,104.2861,2020-01-22,0,0,0,0,Western Pacific
...,...,...,...,...,...,...,...,...,...,...
48883,Tianjin,China,39.3054,117.3230,2020-07-27,204,3,195,6,Western Pacific
48884,Tibet,China,31.6927,88.0924,2020-07-27,1,0,1,0,Western Pacific
48885,Xinjiang,China,41.1129,85.2401,2020-07-27,311,3,73,235,Western Pacific
48886,Yunnan,China,24.9740,101.4870,2020-07-27,190,2,186,2,Western Pacific
48887,Zhejiang,China,29.1832,120.0934,2020-07-27,1270,1,1268,1,Western Pacific

In [38]:
# c. Tome apenas as informações das features: “Confirmed”, “Active”, “Deaths”, “Recovered”; 

c_provinces.loc[:,['Confirmed', 'Active', 'Deaths', 'Recovered']]

       Confirmed  Active  Deaths  Recovered
48             1       1       0          0
49            14      14       0          0
50             6       6       0          0
51             1       1       0          0
52             0       0       0          0
...          ...     ...     ...        ...
48883        204       6       3        195
48884          1       0       0          1
48885        311     235       3         73
48886        190       2       2        186
48887       1270       1       1       1268

[6204 rows x 4 columns]

In [39]:
# d. Agrupe o novo dataframe a partir dessas províncias. Qual a função de agrupamento que deve ser usada?

provinces_cases = c_provinces.groupby('Province/State').agg({'Confirmed':'sum','Active':'sum','Deaths':'sum','Recovered':'sum'})

provinces_cases

# Foi usada o method '.groupby()' para montar o dataframe

                Confirmed   Active  Deaths  Recovered
Province/State
Anhui              172497    15722    1007     155768
Beijing            108512    23282    1383      83847
Chongqing          101756    10608    1013      90135
Fujian              59855     6760     159      52936
Gansu               23786     2282     341      21163
Guangdong          268051    29668    1273     237110
Guangxi             44368     5105     336      38927
Guizhou             25341     2334     335      22672
Hainan              29584     2661     993      25930
Hebei               56848    55848    1000          0
Heilongjiang       131961    18095    2196     111670
Henan              222581   218953    3628          0
Hong Kong          151541    37002     814     113725
Hubei            11473248  1433798  651932    9387518
Hunan              178641    15540     662     162439
Inner Mongolia      29781     4921     147      24713
Jiangsu            112469    10102       0     102367
Jiangxi            162963    15139     169     147655
Jilin               21375     2229     245      18901
Liaoning            25295     3133     297      21865
Macau                6217     1364       0       4853
Ningxia             12932      906       0      12026
Qinghai              3215      231       0       2984
Shaanxi             49821     5586     430      43805
Shandong           132944    13614    1103     118227
Shanghai           100089    12426     983      86680
Shanxi              30441     3353       0      27088
Sichuan             98075    11262     507      86306
Tianjin             30533     3093     508      26932
Tibet                 180       13       0        167
Xinjiang            14160     2406     474      11280
Yunnan              32118     3399     319      28400
Zhejiang           220824    21888     159     198777

In [40]:
# e. Produza um dataframe contendo as 5 regiões com o maior número de casos confirmados.

top_provinces = provinces_cases.sort_values(by='Confirmed', ascending=False).head()

top_provinces

                Confirmed   Active  Deaths  Recovered
Province/State
Hubei            11473248  1433798  651932    9387518
Guangdong          268051    29668    1273     237110
Henan              222581   218953    3628          0
Zhejiang           220824    21888     159     198777
Hunan              178641    15540     662     162439

### 3. A coluna “Province/State” contém muitos valores faltando. Para descartá-la perdendo mínimo de informação, inclua na coluna “Country/Region” o nome das regiões junto ao nome dos países em que existem mais de uma província registrada no banco de dados, utilizando o método “.apply”. Como por exemplo, juntar o nome China com a região pertinente: “China_Hubei”, “China_Guangdong”.

In [46]:
# a. Elabore uma função que tenha uma linha do banco de dados como argumento e, se a coluna “Province/State” não for valor faltante,
# concatenar seu valor com coluna “Country/Region”.

def concat(row):
    
    ## i. Utilize o método “pandas.notna” para averiguar de “Province/State” é valor faltante.
    if pd.notnull(row['Province/State']):
        row['Country/Region'] = row['Country/Region'] + '_' + row['Province/State']

    return row

In [43]:
# b. Faça uma cópia do banco de dados para poder retirar informações sem perder o banco de dados original.

covid = covid_19.copy()

covid

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [47]:
# c. Aplique, por meio do método “apply”, a função criada no item a.

concat_covid = covid.apply(concat,axis='columns')

#Exemplo do resultado:

concat_covid.loc[concat_covid['Country/Region'] == 'China_Hubei']

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
61,Hubei,China_Hubei,30.9756,112.2707,2020-01-22,444,17,28,399,Western Pacific
322,Hubei,China_Hubei,30.9756,112.2707,2020-01-23,444,17,28,399,Western Pacific
583,Hubei,China_Hubei,30.9756,112.2707,2020-01-24,549,24,31,494,Western Pacific
844,Hubei,China_Hubei,30.9756,112.2707,2020-01-25,761,40,32,689,Western Pacific
1105,Hubei,China_Hubei,30.9756,112.2707,2020-01-26,1058,52,42,964,Western Pacific
...,...,...,...,...,...,...,...,...,...,...
47824,Hubei,China_Hubei,30.9756,112.2707,2020-07-23,68135,4512,63623,0,Western Pacific
48085,Hubei,China_Hubei,30.9756,112.2707,2020-07-24,68135,4512,63623,0,Western Pacific
48346,Hubei,China_Hubei,30.9756,112.2707,2020-07-25,68135,4512,63623,0,Western Pacific
48607,Hubei,China_Hubei,30.9756,112.2707,2020-07-26,68135,4512,63623,0,Western Pacific
48868,Hubei,China_Hubei,30.9756,112.2707,2020-07-27,68135,4512,63623,0,Western Pacific

In [48]:
# d. Exclua a coluna “Province/State” do novo dataframe.

concat_covid = concat_covid.loc[:,concat_covid.columns != 'Province/State']

#Exemplo do resultado final:

concat_covid.loc[concat_covid['Country/Region'] == 'China_Hubei']

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
61,China_Hubei,30.9756,112.2707,2020-01-22,444,17,28,399,Western Pacific
322,China_Hubei,30.9756,112.2707,2020-01-23,444,17,28,399,Western Pacific
583,China_Hubei,30.9756,112.2707,2020-01-24,549,24,31,494,Western Pacific
844,China_Hubei,30.9756,112.2707,2020-01-25,761,40,32,689,Western Pacific
1105,China_Hubei,30.9756,112.2707,2020-01-26,1058,52,42,964,Western Pacific
...,...,...,...,...,...,...,...,...,...
47824,China_Hubei,30.9756,112.2707,2020-07-23,68135,4512,63623,0,Western Pacific
48085,China_Hubei,30.9756,112.2707,2020-07-24,68135,4512,63623,0,Western Pacific
48346,China_Hubei,30.9756,112.2707,2020-07-25,68135,4512,63623,0,Western Pacific
48607,China_Hubei,30.9756,112.2707,2020-07-26,68135,4512,63623,0,Western Pacific
48868,China_Hubei,30.9756,112.2707,2020-07-27,68135,4512,63623,0,Western Pacific

### 4. Importe o arquivo "world meter data.csv" e, a partir de seus dados de população e continentes, faça um ranking de maior número de mortes por milhão de habitantes entre os continentes.

In [49]:
# a. Importar o banco de dados "world meter data.csv".

worldmeter.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [71]:
# b. Tome apenas as informações de população, país e continentes deste banco de dados.

worldmeter_country = worldmeter.groupby('Country/Region').agg({'Continent':'sum','Population':'sum'})

worldmeter_country

               Continent  Population
Country/Region
Afghanistan         Asia  39009447.0
Albania           Europe   2877470.0
Algeria           Africa  43926079.0
Andorra           Europe     77278.0
Angola            Africa  32956300.0
...                  ...         ...
Vietnam             Asia  97425470.0
Western Sahara    Africa    598682.0
Yemen               Asia  29886897.0
Zambia            Africa  18430129.0
Zimbabwe          Africa  14883803.0

[209 rows x 2 columns]

In [69]:
# c. Agrupe o “covid_19_clean_complete” por países. Deve-se usar o dataframe do item “c)” ou o original?

#Devemos utilizar o dataframe original, dado que o dataframe gerado no item c) não inclui informações de países

covid_country = covid_19.groupby('Country/Region').agg({'WHO Region': 'max','Deaths':'sum'})

covid_country

                               WHO Region  Deaths
Country/Region
Afghanistan         Eastern Mediterranean   49098
Albania                            Europe    5708
Algeria                            Africa   77972
Andorra                            Europe    5423
Angola                             Africa    1078
...                                   ...     ...
West Bank and Gaza  Eastern Mediterranean    1370
Western Sahara                     Africa      63
Yemen               Eastern Mediterranean   17707
Zambia                             Africa    2643
Zimbabwe                           Africa     881

[187 rows x 2 columns]

In [67]:
# d. Mescle os dois dataframes, a partir dos países, contendo apenas as informações de mortes, população e continente.

world_covid = worldmeter_country.join(covid_country.loc[:,['Deaths']])

world_covid.head()

               Continent  Population   Deaths
Country/Region
Afghanistan         Asia  39009447.0  49098.0
Albania           Europe   2877470.0   5708.0
Algeria           Africa  43926079.0  77972.0
Andorra           Europe     77278.0   5423.0
Angola            Africa  32956300.0   1078.0

In [68]:
# e. Agrupe o novo dataset agora pelo continente.

continentmeter = world_covid.reset_index().groupby('Continent').agg({'Country/Region': ', '.join,'Population':'sum','Deaths':'sum'})

continentmeter

,Country/Region,Population,Deaths
Continent,,,
0,Diamond Princess,0.000000e+00,0.0
Africa,"Algeria, Angola, Benin, Botswana, Burkina Faso...",1.343515e+09,682067.0
Asia,"Afghanistan, Armenia, Azerbaijan, Bahrain, Ban...",3.173656e+09,3882965.0
Australia/Oceania,"Australia, Fiji, French Polynesia, New Caledon...",4.095791e+07,13570.0
Europe,"Albania, Andorra, Austria, Belarus, Belgium, B...",7.476775e+08,14689301.0
North America,"Antigua and Barbuda, Aruba, Bahamas, Barbados,...",5.895035e+08,2666043.0
South America,"Argentina, Bolivia, Brazil, Chile, Colombia, E...",4.311105e+08,5681838.0

In [73]:
# f. Crie uma nova coluna contendo o número de mortes por milhão dentro dos continentes (Utilize a fórmula: (mortes/população)*10^6).

dths_1m = []

for i in range(continentmeter.__len__()):
    dths_1m.append(((continentmeter.Deaths.iloc[i])/(continentmeter.Population.iloc[i]))*(10**6))

continentmeter['Deaths/1M_Pop']=dths_1m

continentmeter

C:\Users\Cauan\AppData\Local\Temp\ipykernel_24784\3582478010.py:6: RuntimeWarning: invalid value encountered in scalar divide
  dths_1m.append(((continentmeter.Deaths.iloc[i])/(continentmeter.Population.iloc[i]))*(10**6))

,Country/Region,Population,Deaths,Deaths_1M_Pop,Deaths/1M_Pop
Continent,,,,,
0,Diamond Princess,0.000000e+00,0.0,NaN,NaN
Africa,"Algeria, Angola, Benin, Botswana, Burkina Faso...",1.343515e+09,682067.0,507.673343,507.673343
Asia,"Afghanistan, Armenia, Azerbaijan, Bahrain, Ban...",3.173656e+09,3882965.0,1223.498858,1223.498858
Australia/Oceania,"Australia, Fiji, French Polynesia, New Caledon...",4.095791e+07,13570.0,331.315742,331.315742
Europe,"Albania, Andorra, Austria, Belarus, Belgium, B...",7.476775e+08,14689301.0,19646.572347,19646.572347
North America,"Antigua and Barbuda, Aruba, Bahamas, Barbados,...",5.895035e+08,2666043.0,4522.523020,4522.523020
South America,"Argentina, Bolivia, Brazil, Chile, Colombia, E...",4.311105e+08,5681838.0,13179.540917,13179.540917

In [74]:
# g. Faça um ranking do número de mortes por milhão de habitantes entre os continentes.

continentmeter.sort_values(by='Deaths/1M_Pop', ascending=False)

,Country/Region,Population,Deaths,Deaths_1M_Pop,Deaths/1M_Pop
Continent,,,,,
Europe,"Albania, Andorra, Austria, Belarus, Belgium, B...",7.476775e+08,14689301.0,19646.572347,19646.572347
South America,"Argentina, Bolivia, Brazil, Chile, Colombia, E...",4.311105e+08,5681838.0,13179.540917,13179.540917
North America,"Antigua and Barbuda, Aruba, Bahamas, Barbados,...",5.895035e+08,2666043.0,4522.523020,4522.523020
Asia,"Afghanistan, Armenia, Azerbaijan, Bahrain, Ban...",3.173656e+09,3882965.0,1223.498858,1223.498858
Africa,"Algeria, Angola, Benin, Botswana, Burkina Faso...",1.343515e+09,682067.0,507.673343,507.673343
Australia/Oceania,"Australia, Fiji, French Polynesia, New Caledon...",4.095791e+07,13570.0,331.315742,331.315742
0,Diamond Princess,0.000000e+00,0.0,NaN,NaN